<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <add name="DefaultConnectionString" connectionString="Server=10.0.3.21;Database=EJU.HR;Uid=DemoUser;Pwd=demosql@123;Pooling=true;Max Pool Size=20;Min Pool Size=10" providerName="System.Data.SqlClient"/>
</configuration>
